
/*Loader*/

#loader {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background: #fff url("loader.gif") no-repeat center;
    display: flex;

}
#time,#distance,#card {
    font-size: 1rem;
    background-color: #dee3e2;
}
#logo {
    border-radius: 100%;
}

body {
    font-family: 'Comic Neue', cursive;
    background-color: #dee3e2;
}

#footer {
    background-color: #1b262c;
    text-align: center;
    color: #fff;
}

#copy-right {
    font-size: 1rem;
}


/*Map and Autocomplete*/

#map {
    height: 75%;
    text-align: center;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}