<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Al-Khwarizmi</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/780e1570e3.js" crossorigin="anonymous"></script>
</head>

<body>

    <h1>Hello</h1>

{#Autocompelte input#}
    <div class="pac-card" id="pac-card">
        <div>



            <div id="type-selector" class="pac-controls">

                <input type="radio" name="type" id="changetype-all" checked="checked" placeholder="All">
                <label for="changetype-all">All</label>

                <input type="radio" name="type" id="changetype-establishment">
                <label for="changetype-establishment">Establishments</label>

                <input type="radio" name="type" id="changetype-address">
                <label for="changetype-address">Addresses</label>

                <input type="radio" name="type" id="changetype-geocode">
                <label for="changetype-geocode">Geocodes</label>

            </div>

            <div id="strict-bounds-selector" class="pac-controls">
                <input type="checkbox" id="use-strict-bounds" value="">
                <label for="use-strict-bounds">Strict Bounds</label>
            </div>

        </div>

{#        Input#}

        <div id="pac-container" class="input-group">
            <input id="pac-input" type="text" class="form-control mx-2" placeholder="From">
        </div>

        <div id="pac-container2" class="input-group">
            <input id="pac-input2" type="text" class="form-control mx-2" placeholder="To">
        </div>

    </div>

{#    Map#}

    <div class="container my-3" id="map"></div>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span>
        <br>
        <span id="place-address"></span>
    </div>

    <footer id="footer">

        <div class="container-fluid footer-box ">

            <div class="row justify-content-center">

                <div class="col-md-12 py-3">

                    <a href="https://github.com/F2had/Algo_Project" target="_blank"><i class="fab fa-github mr-md-5 mr-3 fa-2x  text-white"> </i></a>

                </div>

            </div>

            <p class="py-3" id="copy-right"> &copy; Copyright 2020 Al-Khwarizmi map</p>

        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI0OET1c0_SCwIMKMLOcMXWg6IoRECA2E&libraries=places&callback=initMap" async defer></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>